<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="KhrConfiguration"
	packages="io.esoma.khr">

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%p: %m %throwable{short}%n" />
		</Console>

		<File name="masterAppender" fileName="logs/khr-master.log">
			<PatternLayout>
				<Pattern>%d{YYYY-MMM-dd, HH:mm} %p: %c{1} [%t] %m %throwable{10}%n%n
				</Pattern>
			</PatternLayout>
		</File>
	</Appenders>

	<Loggers>
		<Logger name="masterLogger" level="warn" additivity="false">
			<AppenderRef ref="masterAppender" level="warn" />
			<AppenderRef ref="STDOUT" level="error" />
		</Logger>

		<Root level="info" additivity="false">
			<AppenderRef ref="STDOUT" level="info" />
		</Root>
	</Loggers>

</Configuration>